/* .container{
    background-image: url("./assets/Pokedex.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */

.PokemonImg{
    position: absolute;
    top: 14em;
    left: 6.5em;
    z-index: 2;
    max-width: 22%;
}

.PokedexImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
    height: 950px;
}